<% layout("layouts/boilerplate") %>
<div
  class="row col-lg-4 col-8 m-auto bg-primary bg-gradient bg-opacity-10 rounded-lg p-2 py-4 border border-3 shadow-lg border-white"
>
  <div class="">
    <h1 class="text-center">Sign Up</h1>
    <form action="/register" method="post" class="validated-form" novalidate>
      <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input
          class="form-control"
          type="text"
          name="username"
          id="username"
          placeholder="username"
          autofocus
        />
        <div class="valid-feedback">Looks Good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input
          class="form-control"
          type="email"
          name="email"
          id="email"
          placeholder="example@email.com"
        />
        <div class="valid-feedback">Looks Good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input
          class="form-control"
          type="password"
          name="password"
          id="password"
          placeholder="●●●●●●●●"
        />
        <div class="valid-feedback">Looks Good!</div>
      </div>

      <div class="d-grid gap-2 mb-3">
        <button class="btn btn-primary" type="submit">Register</button>
      </div>

      <div class="text-center mb-3">
        have an account? <a href="/login" class="link-secondary">Login</a>
      </div>
    </form>
  </div>
</div>
